.backgroundContainer {
  background: #667db6  !important;  
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important;
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6) !important; 

}
.formContainer {
    overflow: hidden; 
    transition: height 0.5s ease; 
    height: 30px;
  }
  
  .formContainer.open {
    height: auto; 
  }
  
  .toggleButton {
    display: flex;
    align-items: center;
  }
  
  .arrow {
    transition: transform .2s ease;
  }
  
  .down {
    transform: rotate(90deg);
  }
  
  .right {
    transform: rotate(0deg);
  }
  